[submodule "nixos-rocm"]
	path = nixos-rocm
	url = https://github.com/nixos-rocm/nixos-rocm.git
	branch = master
[submodule "notsecret"]
	path = notsecret
	url = git@github.com:anoother/nixos-notsecret.git
	branch = master
